<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="head"></div>
    <main class="categories">
      <div class="container categories_container">
        <div class="breadcumb"></div>
        <div class="product_list"></div>
      </div>
    </main>

    <footer></footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../baseAPI.js"></script>
  <script src="../../public/javascripts/app.js"></script>
</html>
