<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="head"></div>

    <main class="product_container">
      <div class="container product_wrapper">
        <!-- <div class="breadcumb">
         <span class="breadcumb_sup">/ <%=sp.name%></span> 
        </div> -->
        <article class="product"></article>
      </div>
    </main>

    <div class="product_container">
      <div class="container product_wrapper">
        <div class="content_title">
          <h1>Sản phẩm liên quan</h1>
          <a href="#" class="content_sup">
            <span>Xem thêm</span>
          </a>
        </div>

        <div class="product_list">
          <div class="product_item">
            <span class="product_price--discount">-25%</span>
            <div class="product_img">
              <a href="/product/<%=sp.id%>"
                ><img src="<%=sp.image%>" alt=""
              /></a>
            </div>
            <div class="product_name">
              <a href="/product/<%=sp.id%>"> <p><%=sp.name%></p></a>
            </div>
            <div class="product_price">
              <span class="text-red"><%=sp.price%></span
              ><span class="text-gray">2,239,000đ</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer></footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../baseAPI.js"></script>
  <script src="../../public/javascripts/app.js"></script>
  <script src="../../public/javascripts/count_btn.js"></script>
</html>
